div{
    width:100px;
    height:50px;
    border: 2px solid;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add{
    background-color: green;
}
.sub{
    background-color: red;
}
.reset{
    background-color: aquamarine;
}

